.main__list-type {
    list-style-type: none;
    background-color: #FEFAF5;
    align-items:center;
    height: 50px;
    font-weight: 100;
    margin: 5px;
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.main__list {
    vertical-align:middle;
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
}
.title {
    text-transform: capitalize;
    color: white;
    padding-top: 7rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
    font-size: 50px;
    margin: 0px;
}
.main__day {
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.main {
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 705px;
    background-size: cover;
}
.hawaii {
    background-image: url(../assets/hawaii.jpg);
}
.greece {
    background-image: url(../assets/greece.jpg);
}
.iceland {
    background-image: url(../assets/iceland.jpg);
}
.main__item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}
.main__cards {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    text-transform: capitalize;
    background:white;
    box-sizing: content-box;
    width: 240px;
    height: 360px;
    margin: 20px;
}