body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
}
header {
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #FFFFFF
}
.navigation {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: #FFFFFF;
    color: #335576;
    width: 80%;
    margin: auto;
}
/* for li */
.navigation__list {
    list-style-type: none;
    display:inline-flex;
    justify-content: space-around;
    padding-right: .5rem;
}
.navigation__liststyle--active{
    border-bottom: 2px solid #DB7A4E;
}
/* for a tag */
.navigation__liststyle {
    text-decoration: none;
    color: #335576;
} 
/* footer */
footer {
    background-color:#FEFAF5;
}
.footer {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    color: #335576;
    background-color:#FEFAF5;
    width: 70%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer__content {
    position: relative;
    right: 40px;
}
.footer__content--hours {
    padding-left: 2rem;
}
.heading {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-size: larger;
}
.heading__details-timmings {
    display: flex;
    position: relative;
}
.timmings {
    padding-right: 1rem;
}
.heading__details {
    font-size: smaller;
    color: #DB7A4E;
    text-transform: uppercase;
}
.heading__details--time {
    text-transform: uppercase;
}
.heading__details--info {
    text-transform: lowercase;
}
.heading__details-position {
    position: absolute;
}
.heading_image {
    width: 36px;
    height: 36px;
}
.heading_image-facebook {
    width: 16px;
    height: 36px
}
.heading__details--social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    position: absolute;
    bottom: 12px;
}






