/* hero section */
.hero {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
    padding: 00px;
    background-color:#FEFAF5;
    color: #335576;
}
.hero--hero-section {
    padding: 30px;
}

.image {
    max-width: 550px;
    min-width: 240px;
    max-height: 550px;
    min-height: 240px;
}
.hero--hero-heading {
    text-transform: capitalize;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem ;
    font-size: 30px;
    margin: 0px;
    text-align: left;
    width: 550px;
}
.hero--hero-subheading {
    width: 500px;
}
.get-started {
    color: white;
    text-transform: capitalize;
    background-color: #DB7A4E;
    width: 150px;
    padding: 10px;
    margin: 0px;
    border-radius: 25px;
    border: none;
}
.recommendations {
    display: flex;
    flex-direction: column;
}
/* heading */
.recommendations--recommendations-heading{
    text-transform: capitalize;
    color: #335576;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
}

/* cards */
.recommendations--recommendations-places {
    display: flex;
    justify-content: space-around;
    align-content: center;
    /* border-radius: 5px;
    border: 1px solid black; */
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
}
/* section */
.recommendations--recommendations-list{
    background-image: url(../assets/hawaii.jpg);
    background-size: 260px 360px;
    background-position: center;
    width: 260px;
    height: 360px;
    box-sizing:content-box;
    border-radius: 5px;
    box-shadow: 0px 4px 4px black ;
    opacity: 1.2;
}
/* a tag */
.recommendations--recommendations-destinations {
    text-decoration: none;
    color:white;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    font-weight: bold;
    padding:25px;
    height: 300px;
    font-size: 20px;

}
